.parent{
    background-color: white;
    padding: 1rem;
    position: relative;
    height: 200vh;

}

.child-A{
    position: sticky;
    top: 0;
    background-color: black;
    color: lightblue;
    padding: 0.1rem;
}

.child-B{
    position: sticky;
    top: 0;
    background-color: black;
    color: lightblue;
    padding: 0.1rem;
}

.child-C{
    position: sticky;
    top: 0;
    background-color: black;
    color: lightblue;
    padding: 0.1rem;
}